header{
    text-align: center;
}
body {
    background-color: teal;

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
#Eheader {
    font-size: 40px;
    color:cornsilk; 
}
#Hoursh {
    font-size: 40px;
    color: beige;
}
#Hoursp {
    font-size: 35px;
    color: aqua;
}
#Hours {
    background-image: url("HB3.JPEG") ;
    background-size: cover;
    background-color: teal;
    
}
#earthimg {
    margin: auto;
}
#imgteq {
    display: block;
    width: 100%;
} 
#imgteq2 {
    display: block;
    width: 100%;
} 
#imgteq3 {
    display: block;
    width: 100%;
} 
#Teq {
    background-color: #005477 ;
}
#tableteq {
    color: burlywood;
    font-size: 20px;
}
#Menuu {
    background-image: url();
}
nav {
    text-align: center;
    padding: 10px;
}
nav a {
    font-size: 30px;
    padding: 10px;
}
#navhours a {
    color: blanchedalmond;
}
#title1 {
    font-size: 80px;
    color: aqua;
}
#Menutext {
    color: burlywood;
}
#hometxt {
    color: burlywood;
    font-size: 25px;
    text-align: center; 
}
#Menuu {
    background-color: teal;

}
#title{
    color: cornsilk;
}
#hometxt{
    color: navajowhite;

}